body {

  background-image: url("cool-blue-backround.png"), url("GardianComplete.png");
  background-repeat: no-repeat, repeat;
  background-color: #0000A0;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
